<div xmlns:th="http://www.thymeleaf.org" th:fragment="expense-none" class="panel border rounded m-1">
    <div class="col-md-12">
        <h3 class="text-center m-2">実績</h3>
    </div>
    <div class="text-center m-5">
        <small>実績が登録されていません</small>
        <br/>
        <a th:href="@{/expense/new(year=${year}, month=${month})}">
            <button class="btn btn-outline-secondary">実績を登録する</button>
        </a>
    </div>
</div>

<div xmlns:th="http://www.thymeleaf.org" th:fragment="expense" class="panel border rounded m-1">
    <div class="col-md-12">
        <h3 class="text-center m-2">実績</h3>
    </div>
    <div class="m-3">
        <table class="table">
            <thead>
            <tr>
                <td>カテゴリ</td>
                <td>金額</td>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>