<div xmlns:th="http://www.thymeleaf.org" th:fragment="summary-none" class="panel border rounded m-1">
    <div class="col-md-12">
        <h3 class="text-center m-2">サマリー</h3>
    </div>
    <div class="text-center m-5">
        <small>予算または実績が登録されるとサマリーが表示されます</small>
    </div>
</div>

<div xmlns:th="http://www.thymeleaf.org" th:fragment="summary" class="panel border rounded m-1">
    <div class="col-md-12">
        <h3 class="text-center m-2">サマリー</h3>
    </div>
    <div class="text-center m-5">
        <small>予実の差の実績を表示</small>
    </div>
</div>