<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header.html::header"/>
<body>
<div th:replace="common/navbar.html::navbar"></div>
<div class="container">
    <div class="row m-4">
        <h1 class="text-center mx-auto">予算登録</h1>
    </div>
    <form th:action="@{/budget/new}" method="post" class="form mx-auto" style="max-width: 600px;">
        <h4 class="mb-3">
            <span>登録年月</span>
        </h4>
        <div class="form-inline">
            <div class="col-md-6 input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Year</span>
                </div>
                <input type="number" id="year" class="form-control" name="year" th:value="${param.year}">
            </div>
            <div class="col-md-6 input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Month</span>
                </div>
                <input type="number" id="month" class="form-control" name="month" th:value="${param.month}">
            </div>
        </div>
        <h4 class="mt-3 mb-3">
            <span>カテゴリ別予算</span>
        </h4>
        <div th:each="category, state : ${categoryList}" th:object="${category}">
            <input type="hidden" th:value="*{id}" th:name="${'budgetFormRowList[' + state.index + '].id'}">
            <div class="input-group form-inline m-2">
                <div class="input-group-prepend">
                    <span class="input-group-text text-center" th:text="*{name}" style="width: 100px;"></span>
                </div>
                <input type="number" class="form-control" th:name="${'budgetFormRowList[' + state.index + '].price'}">
            </div>
        </div>
        <div class="input-group m-2 mt-4">
            <button class="btn btn-primary btn-block" type="submit">登録</button>
        </div>
    </form>
</div>
</body>
</html>