<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header.html::header"/>
<body>
<div th:replace="common/navbar.html::navbar"></div>
<div class="container">
    <div class="row m-4">
        <h1 class="text-center mx-auto">実績登録</h1>
    </div>
    <form th:action="@{/expense/new}" method="post" class="form mx-auto" style="max-width: 600px;">
        <h4 class="mb-3">
            <span>登録年月日</span>
        </h4>
        <div class="form-inline">
            <div class="col-md-4 input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Year</span>
                </div>
                <input type="number" id="year" class="form-control" name="year" th:value="${param.year}" required>
            </div>
            <div class="col-md-4 input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Month</span>
                </div>
                <input type="number" id="month" class="form-control" name="month" th:value="${param.month}" required>
            </div>
            <div class="col-md-4 input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Day</span>
                </div>
                <input type="number" id="day" class="form-control" name="day" required>
            </div>
        </div>
        <h4 class="mt-3 mb-3">
            <span>実績詳細</span>
        </h4>
        <div id="expense-detail">
            <div class="form-inline">
                <div class="col-md-6 input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">カテゴリ</span>
                    </div>
                    <select name="category" class="custom-select">
                        <option th:each="category : ${categoryList}" th:value="${category.id}"
                                th:text="${category.name}"></option>
                    </select>
                </div>
                <div class="col-md-6 input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">金額</span>
                    </div>
                    <input type="number" class="form-control" name="price">
                </div>
            </div>
        </div>
        <div class="form-group mt-2 mb-2">
            <div class="col-md-2 text-center mx-auto">
                <button class="mx-auto btn btn-outline-secondary rounded-circle">+</button>
            </div>
        </div>
        <div class="input-group m-2 mt-4">
            <button class="btn btn-primary btn-block" type="submit">登録</button>
        </div>
    </form>
</div>
</body>
</html>