<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header.html::header"/>
<body>
<div th:replace="common/navbar.html::navbar"></div>
<div class="container">
    <div class="row">
        <h1 class="text-center mx-auto" th:text="${year} + '年' +  ${month} + '月'"></h1>
    </div>

    <div class="row">
        <div class="col-lg-6 mt-4">
            <div th:if="${budgetList.size() == 0}">
                <div th:replace="panel/budget.html::budget-none"></div>
            </div>
            <div th:unless="${budgetList.size() == 0}">
                <div th:replace="panel/budget.html::budget"></div>
            </div>
        </div>
        <div class="col-lg-6 mt-4">
            <div th:if="${expenseList.size() == 0}">
                <div th:replace="panel/expense.html::expense-none"></div>
            </div>
            <div th:unless="${expenseList.size() == 0}">
                <div th:replace="panel/expense.html::expense"></div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-lg-12">
            <div th:if="${budgetList.size() == 0 && expenseList.size() == 0}">
                <div th:replace="panel/summary.html::summary-none"></div>
            </div>
            <div th:unless="${budgetList.size() == 0 && expenseList.size() == 0}">
                <div th:replace="panel/summary.html::summary"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>