<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header.html::header"/>
<body>
<div th:replace="common/navbar.html::navbar"></div>
<div class="container">
    <div class="row">
        <div class="border mx-auto mt-5" style="width: 400px;">
            <form th:action="@{/signup}" method="post">
                <div class="m-4">
                    <h2 class="text-center">Sign Up</h2>
                </div>
                <div class="m-2">
                    <div class="alert alert-danger" role="alert" th:if="${hasError}">
                        <span th:text="${error}"></span>
                    </div>
                </div>
                <div class="form-group m-4">
                    <label for="userName">User Name</label>
                    <input type="text" id="userName" class="form-control" name="userName">
                </div>
                <div class="form-group m-4">
                    <label for="password1">Password</label>
                    <input type="password" id="password1" class="form-control" name="password1">
                </div>
                <div class="form-group m-4">
                    <label for="password2">Password</label>
                    <input type="password" id="password2" class="form-control" name="password2">
                </div>
                <div class="m-4">
                    <button class="btn btn-primary btn-block" type="submit">Sign Up</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>